[submodule "Endgame"]
	path = Endgame
	url = https://github.com/slava-pleshkov/a-story-of-one-fish
[submodule "Refresh-Marathon-C"]
	path = Refresh-Marathon-C
	url = https://github.com/slava-pleshkov/unit-factory-ucode-refresh-marathon-c.git
[submodule "Marathon-C"]
	path = Marathon-C
	url = https://github.com/slava-pleshkov/unit-factory-ucode-marathon-c.git
[submodule "Libmx"]
	path = Libmx
	url = https://github.com/slava-pleshkov/unit-factory-ucode-libmx.git
