[submodule "Uls"]
	path = Uls
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-uls.git
[submodule "Pathfinder"]
	path = Pathfinder
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-pathfinder.git
[submodule "Libmx"]
	path = Libmx
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-libmx.git
[submodule "Refresh-Marathon-C"]
	path = Refresh-Marathon-C
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-refresh-marathon-c.git
[submodule "Marathon-C"]
	path = Marathon-C
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-marathon-c.git
[submodule "Endgame"]
	path = Endgame
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-endgame.git
[submodule "Ush"]
	path = Ush
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-ush.git
[submodule "Half-Marathon-C++"]
	path = Half-Marathon-C++
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-half-marathon-cpp.git
[submodule "Dino"]
	path = Dino
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-dino.git
